body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: #ec407a;

  box-shadow: none;
}

input[type=text]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label{
  color: #ec407a !important;
  display: none;
}


.App {
  position: relative;
  padding-bottom: 90px;
  height: 100%;
}

.page-footer {
  width: 100%;
  background: #255188;
  position: fixed;
  z-index: 9999;
  bottom: 0;
  padding-top: 0px;
}
.nav-wrapper {
  background: #255188;
  padding: 0 40px;
}
/* Movie Vote Card */
.movies-to-vote {
  width: 90%;
  display: flex;
  flex-wrap:wrap;
  margin: 30px auto;
  justify-content: space-around;
}

.movies-to-vote .vote-movie-card {
  margin-top:16px;
  display: flex;
  height: 278px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  align-items: center;
}

.movies-to-vote .card__image {
  flex-shrink: 0;
  height:278px;
}

.movies-to-vote .card__info {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  padding: 10px 16px 16px;
  height: 278px;
  overflow: hidden;
}

.movies-to-vote .card-title {
  width: 100%;
  display: block;
  font-weight: 600;
  font-size: 1.1em;
  line-height: 1.1em;
  color: #000;
}

.movies-to-vote .overview {
  word-wrap: break-word;
  white-space: normal;
  color: #4d4d4d;
  font-size: 0.9em;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0;
  width: 100%;
  line-height: 1.2em;
  margin-top: 20px;
  text-align: start;
  margin-bottom: 0;
  max-height: 162px;
}

.movies-to-vote .view_more {
  border-top: 1px solid #e3e3e3;
  background: white;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 16px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  line-height: 1.2em;
  margin: 0;
  text-align: left;
  font-size: 0.9em;
  font-weight: 400;
  color: #000;
}

.vote-movie-card {
  width: 900px;
}
.vote-movie-card .card__info, .vote-movie-card .search-result__card{
  width: 100%
}

.vote-movie-card .add_circle {
  display: none;
}

.vote-movie-card .remove_circle {
  position: absolute;
  left: 0;
  right: 0;
}

.vote-movie-card .view_more {
  display: flex;
  flex-direction: column;
}

.user-vote {
  display: flex;
}

.voter {
  margin-top: 0;
  padding: 0;
  margin-right: 4px;
}

.vote-movie-card .card__image {
  flex-shrink: 0;
}
.vote-movie-card .card-user {
  position: absolute;
  right: 8px;
  bottom: 8px;
  z-index: 999;
}

.remove_circle .material-icons {
  padding: 8px 80px;
}

/* Search */
.search-bar {
  position: relative;
  border-bottom: 1px solid #9e9e9e;
}

.search-bar input {
  width: 90% !important;
  border: none !important;
  padding: 0 20px !important;
  margin: 0 !important;
}

.search-icon {
  position: absolute;
  bottom: 10px;
  left: 15px;
}

.search-results {
  width: 90%;
  display: flex;
  flex-wrap:wrap;
  margin: 30px auto;
  justify-content: space-around;
}

/* Movie Card */
.search-result__card {
  width: 483px;
  margin-top:16px;
  display: flex;

  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  align-items: center;
}

.card__image {
  width: 185px;
  height: 278px;
  line-height: 0;
  overflow: hidden;
}

.card__info {
  width: 298px;
  height: 278px;
  position: relative;
  box-sizing: border-box;
  padding: 10px 16px 16px 16px;
  overflow: hidden;
}

.card-title {
  width: 100%;
  display: block;
  font-weight: 600;
  font-size: 1.1em;
  line-height: 1.1em;
  color: #000;
}

.overview {
  word-wrap: break-word;
  white-space: normal;
  color: #4d4d4d;
  font-size: 0.9em;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0;
  width: 100%;
  line-height: 1.2em;
  margin-top: 20px;
  text-align: start;
  margin-bottom: 0;
  max-height: 162px;
}

.view_more {
  border-top: 1px solid #e3e3e3;
  background: white;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 16px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  line-height: 1.2em;
  margin: 0;
  text-align: left;
  font-size: 0.9em;
  font-weight: 400;
  color: #000;
}

/* image toltip */
.tooltip {
  visibility: hidden;
  background-color: rgba(255,255,255,0.9);
  position: relative;
  top: -40px;
  left: 0;
  height: 40px;
  width: 100%;
  z-index: 1;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
}

.card__image:hover .tooltip {
  visibility: visible;
}

.tooltip_popup-add {
  display: none;
  padding: 4px 7px 5px 7px;
}

.add_circle {
  position: absolute;
  left: 0;
  right: 0;
}

.add_circle .material-icons {
    padding: 8px 80px;
}

.add_circle:hover .tooltip_popup-add{
  display: inline;
  position: absolute;
  top: -40px;
  width: 150px;
  right: 0;
  left: 0;
  background: rgba(7, 28, 36, 0.9);
  color: grey;
  z-index: 999;
  margin: auto;
  padding: 14px;
}

.tooltip_popup-remove {
  display: none;
  padding: 4px 7px 5px 7px;
}

.remove_circle:hover .tooltip_popup-remove{
  display: inline;
  position: absolute;
  top: -28px;
  left: 103px;
  background: #071c24;
  color: grey;
  z-index: 1403;
  padding: 14px;
}

/* Search Summary and HOme  and VotedMoviesSummary*/
.home__title {
  font-size: 20px;
  margin: 40px auto;
}

.home__movie-to-add {
  width: 50%;
  padding-bottom: 40px;
  box-shadow: 1px 2px 4px 0px rgba(1,1,1,0.1);
}

.home__movie-to-add h5{
  max-width: 740px;
}

.home__movie-vote {
  width: 50%;
  box-shadow: 1px 2px 4px 0px rgba(1,1,1,0.1);
}

.home__movie-list {
  display: flex;
  max-width: 740px;
  height: 561px;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
}

.home__content-wrapper {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  width: 80%;
}

/* VotedMoviesSummary */

.voted-movie__list {
  overflow: auto;
  height: 561px;
  border: 1px solid rgba(0,0,0,0.1);
  padding: 16px;
}
  .voted-movie__content {
  overflow: scroll;
  height: 170px;
  }

.voted-movie {
  display: flex;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  margin-bottom: 8px;
}

.voted-movie__poster img{
  width: 123px;
  height: 170px;
}




/* the Breakpoints */

@media only screen and (max-width: 500px) {
  .search-result__card {
    width: 100%;
  }

  .card__info {
    width: 60%;
    padding: 10px 8px 16px 8px;
  }
  nav {
    height: 100px;
  }
}

/* margins */

.m-0 {
  margin: 0;
}




@media only screen and (max-width: 1000px) {
  .home__content-wrapper {
    flex-wrap: wrap;
    width: 95%;
  }
  .home__movie-to-add {
    width: 100%;
    align-self: center;
  }
  .home__movie-vote {
    width: 100%;
  }
  .home__movie-list {
    max-width: initial;
  }
}